# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
.env/
env/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Coverage reports
htmlcov/
.coverage

# Test and build artifacts
dist/
build/
.eggs/
.eggs-info/
.installed.cfg
*.egg-info/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints